# Excel Basics

## 1. Explain the difference between Relative, Absolute, and Mixed Cell Referencing  
You have the following dataset:

| Vehicle       | Price  |
| ------------- | ------ |
| Car           | 500000 |
| Bicycle       | 10500  |
| Auto-Rickshaw | 25000  |

### → Relative Cell Referencing
- Relative referencing changes when we copy a formula to another cell.  
- **Example:** `A1`  
- If we copy the formula down, `A1` becomes `A2`, then `A3`, and so on.  
- This is useful when we want the formula to adjust automatically.

### → Absolute Cell Referencing
- Absolute referencing does **not** change when we copy the formula.  
- **Example:** `$A$1`  
- No matter where we paste the formula, it will always refer to cell `A1`.  
- This is used when a fixed value is needed, like a tax rate or constant value.

### → Mixed Cell Referencing
- Mixed referencing is a combination of relative and absolute referencing.  
- **Examples:** `$A1` or `A$1`  
  - `$A1` → column is fixed, row can change  
  - `A$1` → row is fixed, column can change  
- This is useful when working with tables where only row or column should stay the same.

## 2. Write a formula to calculate the total sales of Car and Bicycle only
**Answer:**  
 → To calculate total sales of Car and Bicycle only, use this formula:

In [ ]:
=B2 + B3

- This adds the price of Car (B2) and Bicycle (B3) to give the total sales of only these two vehicles.

## 3. Using the data below, write a formula to calculate the average sales of items priced above 100 but less than 300:
| Item    | Price | Sales |
| ------- | ----- | ----- |
| Item A  | 90    | 1000  |
| Item B  | 150   | 1200  |
| Item C  | 250   | 1500  |

 → To calculate the average sales of items priced above 100 but less than 300, use this formula:

In [ ]:
=AVERAGEIFS(C2:C4, B2:B4, ">100", B2:B4, "<300")

## 4. Count how many customer names are recorded.

 → To count how many customer names are recorded, we can use this formula:

In [ ]:
=COUNTA(B2:B51)

## 5. Calculate the Total Sales for each row using a formula.

 → To calculate the total sales for each row, we can use this formula:

In [ ]:
=E2*F2

Copy the formula down to calculate total sales for all rows.

## 6. Calculate the total sales of Notebooks in the North region only.
 → To calculate the total sales of Notebooks in the North region only, use this formula:

In [ ]:
=SUMIFS(H2:H51, D2:D51, "Notebook", C2:C51, "North")

  Total Sales of Notebook is : 2900

## 7. Create a column chart showing total sales by product.
 → Here is Live Example of Column Chart Showing the Total sales by product.
link: https://1drv.ms/x/c/e1a60e1ac5d055b8/IQDOhXsk1H2kRpm6ECypKMlXAQk3hZG5_f8ounsAJOckAtw?e=aRxTiQ

## 8. Insert a line chart showing daily sales trend.
 → Here is Live Example of Line chart showing daily sales trend
link: https://1drv.ms/x/c/e1a60e1ac5d055b8/IQAxooiGBfYQRao5BBfEBC7EAdWdMOiZMkPWUnic806s2u0?e=eJ1DdB