### Question 1: Create a new database named company_db and create a table named employees with the specified columns.

-->  
To create a new database, use the CREATE DATABASE statement:

CREATE DATABASE company_db;

Next, select the database:

USE company_db;

Now, create the employees table using the CREATE TABLE statement:

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary INT,
    hire_date DATE
);

This creates the employees table with the required columns and constraints.

----
----
### Question 2: Insert the given sample records into the employees table.

-->  
To insert records into the employees table, use the INSERT INTO statement:

INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date)
VALUES
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10');

This statement inserts all the specified rows into the table.

----
----
### Question 3: Display all employee records sorted by salary (lowest to highest).

-->  
To sort records in ascending order, use the ORDER BY clause with the salary column:

SELECT *
FROM employees
ORDER BY salary ASC;

This query retrieves all employee records and sorts them from the lowest salary to the highest salary.

----
----
### Question 4: Show employees sorted by department (Aâ€“Z) and salary (high to low).

-->  
To sort by multiple columns, use the ORDER BY clause with the required sorting order:

SELECT *
FROM employees
ORDER BY department ASC, salary DESC;

This query first sorts employees alphabetically by department and then sorts salaries within each department from highest to lowest.

----
----
### Question 5: List all employees in the IT department, ordered by hire date (newest first).

-->  
To filter records by department and sort by hire date in descending order, use:

SELECT *
FROM employees
WHERE department = 'IT'
ORDER BY hire_date DESC;

This query selects only employees from the IT department and displays the most recently hired employees first.

----
----
### Question 6: Create a table named sales and insert the given sample records.

-->  
To create the sales table, use:

CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    amount INT,
    sale_date DATE
);

Next, insert the sample data:

INSERT INTO sales (sale_id, customer_name, amount, sale_date)
VALUES
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');

This creates the sales table and populates it with the required records.

----
----
### Question 7: Display all sales records sorted by amount (highest to lowest).

-->  
To sort the sales records from highest amount to lowest amount, use:

SELECT *
FROM sales
ORDER BY amount DESC;

This query retrieves all sales records and arranges them in descending order based on the amount column.

----
----
### Question 8: Show all sales made by customer "Aditi".

-->  
To display only the sales records for a specific customer, use:

SELECT *
FROM sales
WHERE customer_name = 'Aditi';

This query filters the table and returns only the rows where the customer name is Aditi.

----
----
### Question 9: What is the difference between a Primary Key and a Foreign Key?

-->  
A Primary Key is a column (or set of columns) that uniquely identifies each row in a table. It does not allow duplicate values and cannot contain NULL values.

A Foreign Key is a column that creates a link between two tables. It refers to the Primary Key of another table and is used to maintain relationships between tables.

In simple terms, a Primary Key uniquely identifies records within its own table, while a Foreign Key connects records to another table.

----
----
### Question 10: What are constraints in SQL and why are they used?

-->  
Constraints in SQL are rules applied to table columns to enforce data integrity and ensure the accuracy and reliability of the data stored in the database.

They are used to restrict the type of data that can be inserted into a table and to maintain consistency. Examples include PRIMARY KEY, FOREIGN KEY, UNIQUE, NOT NULL, and CHECK constraints.

In simple terms, constraints help prevent invalid or incorrect data from being stored in the database.

----
----